@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Orbitron:wght@500&display=swap");
.help {
  cursor: help;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: "Orbitron", "Manrope", sans-serif;
}

sup {
  font-family: manrope, sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: manrope, sans-serif;
}

header {
  padding: 10px;
  height: 70px;
  background-color: #6623F0;
  color: #cfcfcf;
}

main {
  margin: auto;
  height: 85vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2] 2fr;
      grid-template-columns: repeat(2, 1fr) 2fr;
  -ms-grid-rows: 1.5fr (1fr)[3];
      grid-template-rows: 1.5fr repeat(3, 1fr);
  row-gap: 30px;
}

.card {
  background: #9a6ef2d5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #996DF2;
          box-shadow: 0px 0px 10px #996DF2;
  min-width: 250px;
  padding: 0 20px;
  width: 70%;
  text-align: center;
}

.card hr {
  width: 170px;
  border: none;
  border-top: 2px solid #000;
}

.hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 12px 0;
}

.hour span, .hour img {
  width: 33%;
}

.hour:first-child {
  border: none;
}

.hour .icon {
  width: 17px;
  height: auto;
}

.hours {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 5 / 2;
}

.sun {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 5 / 3;
}

.days {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

.thumbmail {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 3 / 4;
}

.air {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 5 / 4;
  text-align: left;
}

.air hr {
  width: 80px;
  margin: 0;
}

.thumbmail {
  background-position-x: 40%;
  background-position-y: 70%;
  background-size: 40%;
  background-repeat: no-repeat;
}

.thumbmail h2 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
}

.thumbmail .thumbmail-temperature {
  font-size: 5em;
  font-weight: 700;
}

.thumbmail p {
  font-size: 1em;
  text-align: justify;
  width: 400px;
}

@media screen and (max-width: 1000px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* air quality */
.air div {
  margin: 20px;
}

.air div span {
  margin: 2px;
  font-size: 0.75em;
}

.v_good {
  background-color: #43c337b8;
  color: #fff;
  padding: 5px;
  min-width: 12%;
  text-align: center;
  display: inline-block;
}

.good {
  background-color: #1C9711;
  color: #fff;
  padding: 5px;
  min-width: 12%;
  text-align: center;
  display: inline-block;
}

.moderate {
  background: #D37B13;
  color: #fff;
  padding: 5px;
  min-width: 12%;
  text-align: center;
  display: inline-block;
}

.bad {
  background-color: #D32A13;
  color: #fff;
  padding: 5px;
  min-width: 12%;
  text-align: center;
  display: inline-block;
}

.v_bad {
  background-color: #9F1313;
  color: #fff;
  padding: 5px;
  min-width: 12%;
  text-align: center;
  display: inline-block;
}

.danger {
  background-color: #61176D;
  color: #fff;
  padding: 5px;
  min-width: 12%;
  text-align: center;
  display: inline-block;
}

.selected {
  border: 4px solid #000;
}

.sun img {
  width: 30%;
  height: auto;
}

.sun div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
/*# sourceMappingURL=styles.css.map */